body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: lightgray;
}

#navbar {
    height: 50px; /* Ajusta según el tamaño de tu navbar */
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#mosaic {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* Ajusta el número de columnas */
    grid-template-rows: repeat(10, 1fr); /* Ajusta el número de filas */
}

.tile {
    width: 50px;
    height: 50px;
}
